/*Selector universal con propiedad importante*/
* {
  box-sizing: border-box;
}

/*Selector de etiqueta*/
h1 {
  color: rgb(83, 83, 83);
}

/*Selector de clase*/
.claseSelector {
  color: green;
}

/*Selector id*/
#parrafo {
  color: red;
}

/*Elementos descendientes*/
.padreDes p {
  color: orange;
}

/*Elemento hijo directo*/
.padreDirec > p {
  color: peru;
}

/*Hermano siguiente o adyacente*/
.siguiente + p {
  color: rgb(11, 26, 238);
}

/*Hermanos siguientes*/
.siguientes ~ p {
  color: rgb(16, 147, 147);
}

/*BOX MODEL*/

.heading {
  font-size: 2rem;
  color: rgb(83, 83, 83);
}

.caja {
  width: 200px;
  height: 200px;
}

.caja1 {
  background-color: peru;
  margin: 2rem 0;
}

.caja2 {
  background-color: aquamarine;
  margin: 0 auto;
}
